:root{
--cor-de-fundo: #1e1e1e;
--verde: #33ff00;
--branco: #ffffff;
--botao-ativo:#a200ff;
--botao-inativo:#5512f3;
--botao-fundo:#00aeff;

}

*{
    background-color: #1e1e1e;
    color: #ffffff;
}

span{
    color: #33ff00;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;

}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.botao{
    background-color: #a012f3;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid #5512f3;
    border-left: 2px  solid #5512f3;
    border-right: 2px solid #5512f3;

}
